<div class="<%= container_classes.join(" ") %>">
  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="<%= svg_path %>"/>
  </svg>
</div>
