<% attachment = field.value(record) %>
<% if attachment.attached? %>
  <%= render Flowbite::Link.new(href: Rails.application.routes.url_helpers.rails_blob_path(attachment, only_path: true)) do %>
    <%= attachment.filename %>
  <% end %>
<% else %>
  <span class="text-gray-400">No file attached</span>
<% end %>
