<ul class="space-y-2 font-medium">
  <% items.each do |item| %>
    <li>
      <%= link_to(item[:path], :class => "flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group") do %>
        <span class="ms-3"><%= item[:label] %></span>
      <% end %>
    </li>
  <% end %>
</ul>
