<% @records.each do |record| %>
  <li
    class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded aria-selected:bg-brand aria-selected:text-white"
    data-id="<%= record.id %>"
    id="<%= dom_id(record, [@repository.model, @field_name].join("-")) %>"
    role="option"
  >
    <%= record %>
  </li>
<% end %>
