<header class="px-4 mb-6 space-y-6 md:px-0">
  <div>
    <% if breadcrumb? %>
      <%= breadcrumb %>
    <% end %>
  </div>

  <div class="items-start justify-between space-x-6 md:flex md:px-0">
    <div>
      <h1 class="text-3xl font-semibold tracking-tight text-heading group">
        <%= title %>
      </h1>

      <% if description.present? %>
        <div class="text-lg text-body-subtle lg:mb-0 lg:max-w-2xl">
          <%= description %>
        </div>
      <% end %>
    </div>

    <% if actions.any? %>
      <div class="flex items-center space-x-2">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
