<li>
  <%= link_to(@paginator.page, page_url(page_number), aria: { current: "page" }, class: "flex items-center justify-center text-fg-brand bg-neutral-tertiary-medium box-border border border-default-medium hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none") %>
</li>
