<div class="my-10">
  <h2 class="px-4 my-6 text-2xl font-bold md:px-0">
    <%= repository.translate.field_label(field) %>
  </h2>

  <%= render(Uchi::Ui::Index::TurboFrame.new(
    repository: associated_repository,
    scope: {
      field: field.name,
      id: record.id,
      inverse_of: inverse_association&.name,
      model: record.model_name,
    },
    src: associated_repository.routes.path_for(
      :index,
      scope: {
        field: field.name,
        id: record.id,
        inverse_of: inverse_association&.name,
        model: record.model_name,
      },
    )
  )) do %>
    <%= render(Uchi::Ui::Frame.new) do %>
      <div class="grid grid place-items-center p-8">
        <%= render(Uchi::Ui::Spinner.new(message: repository.translate.loading_message)) %>
      </div>
    <% end %>
  <% end %>
</div>
